In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

# Oil and Gas Production and Emissions Data on the Norwegian Continental Shelf

## Part 3: Data Processing

---

### Part 1: [Data Collection](https://github.com/percw/Norwegian_oil_gas_decarbonization/blob/main/notebooks/01_data_building/01_production_and_emission_data_building.ipynb)

### Part 2: [Data Cleaning](https://github.com/percw/Norwegian_oil_gas_decarbonization/blob/main/notebooks/02_data_cleaning/02_production_and_emission_data_cleaning.ipynb)

---

This notebook aims to process the cleaned data from the previous notebook. The data will be processed to create statistics and visualizations that will help to understand the emissions, production and carbon intensity of Norwegian Oil and Gas production better.

In [ ]:

# Plot
plt.figure(figsize=(10, 6))

# Setting x as the average production across fields
net_oil_prod_x = fields_prod_emissions_1997_2023_df.groupby('year')['net_oil_prod_yearly_mill_sm3'].sum().index
net_oil_prod_y = fields_prod_emissions_1997_2023_df.groupby('year')['net_oil_prod_yearly_mill_sm3'].sum().values

net_gas_prod_x = fields_prod_emissions_1997_2023_df.groupby('year')['net_gas_prod_yearly_bill_sm3'].sum().index
net_gas_prod_y = fields_prod_emissions_1997_2023_df.groupby('year')['net_gas_prod_yearly_bill_sm3'].sum().values

net_ngl_prod_x = fields_prod_emissions_1997_2023_df.groupby('year')['net_ngl_prod_yearly_mill_sm3'].sum().index
net_ngl_prod_y = fields_prod_emissions_1997_2023_df.groupby('year')['net_ngl_prod_yearly_mill_sm3'].sum().values

net_oil_eq_x = fields_prod_emissions_1997_2023_df.groupby('year')['net_oil_eq_prod_yearly_mill_sm3'].sum().index
net_oil_eq_y = fields_prod_emissions_1997_2023_df.groupby('year')['net_oil_eq_prod_yearly_mill_sm3'].sum().values


plt.plot(net_oil_prod_x, net_oil_prod_y, color='#00338D', linewidth=2) # Dark blue
plt.plot(net_gas_prod_x, net_gas_prod_y, color='#000000', linewidth=2) # Black
plt.plot(net_ngl_prod_x, net_ngl_prod_y, color='#D3D3D3', linewidth=2) # Light gray
plt.plot(net_oil_eq_x, net_oil_eq_y, color='#00A1DE', linewidth=2) # Light blue

# Titles and labels
plt.title('Total Yearly Oil Eq. Production (Million Sm3)', fontsize=16, fontweight='bold', color='#00338D')
plt.xlabel('Years', fontsize=14, color='#00338D')
plt.ylabel('Million Sm3', fontsize=14, color='#00338D')

# Customizing ticks
plt.xticks(fontsize=12, color='#00338D')
plt.yticks(fontsize=12, color='#00338D')

# Legend
plt.legend(['Net Oil Production', 'Net Gas Production (Billion Sm3)', 'Net NGL Production', 'Net Oil Eq. Production'], loc='upper right', fontsize=12)

# Grid and layout
plt.grid(True, which='both', linestyle='--', linewidth=0.5)
plt.tight_layout()

# Show plot
plt.show()

In [ ]:
# Plotting the emissions for co2 and ch4

plt.figure(figsize=(10, 6))

# Setting x as the average production across fields
co2_x = fields_prod_emissions_1997_2023_df.groupby('year')['yearly_co2_emissions_1000_tonnes'].sum().index
co2_y = fields_prod_emissions_1997_2023_df.groupby('year')['yearly_co2_emissions_1000_tonnes'].sum().values

ch4_x = fields_prod_emissions_1997_2023_df.groupby('year')['yearly_ch4_emissions_tons'].sum().index
ch4_y = fields_prod_emissions_1997_2023_df.groupby('year')['yearly_ch4_emissions_tons'].sum().values

# Multiplying the ch4 emissions by 25 to get the equivalent in CO2 emissions
#ch4_x = ch4_x * 25

plt.plot(co2_x, co2_y, color='#00338D', linewidth=2) # Red
plt.plot(ch4_x, ch4_y, color='#000000', linewidth=2) # Green

# Titles and labels
plt.title('Total Yearly Reported CO2 and CH4 Emissions', fontsize=16, fontweight='bold', color='#00338D')
plt.xlabel('Years', fontsize=14, color='#00338D')
plt.ylabel('Tons', fontsize=14, color='#00338D')

# Customizing ticks
plt.xticks(fontsize=12, color='#00338D')
plt.yticks(fontsize=12, color='#00338D')


# Legend
plt.legend(['CO2 Emissions', 'CH4 Emissions'], loc='upper right', fontsize=12)

# Grid and layout
plt.grid(True, which='both', linestyle='--', linewidth=0.5)
plt.tight_layout()

# Show plot
plt.show()

In [ ]:
# Plotting the CO2 emissions for each field over the years

# Top 20 CO2 polluting fields over the years

top_20_co2_polluting_fields = emissions_df.groupby('field')['yearly_co2_emissions_1000_tonnes'].sum().sort_values(ascending=False).head(20).index
top_10_co2_polluting_fields = emissions_df.groupby('field')['yearly_co2_emissions_1000_tonnes'].sum().sort_values(ascending=False).head(10).index
bottom_10_co2_polluting_fields = emissions_df.groupby('field')['yearly_co2_emissions_1000_tonnes'].sum().sort_values(ascending=True).head(10).index
bottom_20_co2_polluting_fields = emissions_df.groupby('field')['yearly_co2_emissions_1000_tonnes'].sum().sort_values(ascending=True).head(20).index
bottom_30_co2_polluting_fields = emissions_df.groupby('field')['yearly_co2_emissions_1000_tonnes'].sum().sort_values(ascending=True).head(30).index

In [ ]:
top_20_co2_polluting_fields

Index(['statfjord', 'gullfaks', 'åsgard', 'oseberg', 'ekofisk', 'troll',
       'snorre', 'sleipner øst', 'heidrun', 'norne', 'eldfisk', 'visund',
       'sleipner vest', 'draugen', 'brage', 'oseberg sør', 'kristin', 'ula',
       'valhall', 'grane'],
      dtype='object', name='field')

In [ ]:
emissions_df

1,field,year,yearly_ch4_emissions_tons,org_number,yearly_nox_emissions_tons,yearly_water_emissions_m3,yearly_oil_spill_emissions_tons,yearly_co2_emissions_1000_tonnes,operator
0,grane,2022,36.071693,993246298,404.470720,1.896859e+06,16.327993,180.655154,equinor energy as
1,grane,2023,66.983955,993246298,306.382910,2.161263e+06,24.543974,188.267980,equinor energy as
2,norne,1997,383.058529,893246592,2944.992072,3.430000e+02,1.967516,761.336994,equinor energy as
3,norne,1998,826.358898,893246592,1792.114235,6.820800e+04,3.134315,418.303952,equinor energy as
4,norne,1999,1042.015537,893246592,1412.344364,2.801130e+05,11.709334,347.059880,equinor energy as
...,...,...,...,...,...,...,...,...,...
1312,aasta hansteen,2018,67.148045,912731456,988.441010,8.498236e+03,0.183095,72.503572,equinor energy as
1313,aasta hansteen,2019,93.355221,912731456,202.908995,1.959150e+04,0.771865,177.647453,equinor energy as
1314,aasta hansteen,2020,94.063341,912731456,147.469687,3.099277e+04,1.465783,192.207951,equinor energy as
1315,aasta hansteen,2021,103.162276,912731456,138.530349,2.496023e+04,0.397254,191.436769,equinor energy as
1316,aasta hansteen,2022,34.041866,912731456,206.022062,2.595194e+04,0.421550,192.895469,equinor energy as