In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Production and emission data for the oil and gas on the Norwegian Continental Shelf

This notebook serves to gather all relevant production and emission data for the oil and gas industry on the Norwegian Continental Shelf. The data is gathered from the Norwegian Petroleum Directorate (NPD) and the Norwegian Environment Agency (NEA). The data is then processed and stored in a structured format for further analysis.

The data is gathered from the following sources:

- [NPD](https://factpages.npd.no/factpages/Default.aspx?culture=en)
- [IEA](https://www.iea.org/)

General information about the Norwegian oil industry can be found on [Norsk Petroleum](https://www.norskpetroleum.no/en/).

## Table of Contents:

1. [Importing data](#Importing-and-preparing-data)
   1. [Production](#Production)
   2. [Operators](#Operators)
   3. [Licenses](#Licenses)
   4. [Investments](#Investments)
   5. [Future Investments](#Future-Investments)
   6. [Emissions](#Emissions)
2. [Data analysis](#Data-analysis)
   1. [Production](#Production)
   2. [Emissions](#Emissions)
   3. [Operators](#Operators)
   4. [Licenses](#Licenses)
3. [Data manipulation](#Data-manipulation)
4. [Data visualization](#Data-visualization)

## Importing and preparing data

### Production

Attribute information can be found at the [SODIR Factpages](https://factpages.sodir.no/en/field/Attributes) website.

In [18]:
def fetch_csv(url, sep=';'):
	# Difi hotell uses comma separated values
	df = pd.read_csv(url, sep=sep)
	return df

In [11]:
production_url = 'https://hotell.difi.no/download/npd/field/production-monthly-by-field'
production_monthly_df = fetch_csv(production_url)

,prfInformationCarrier,prfYear,prfMonth,prfPrdOilNetMillSm3,prfPrdGasNetBillSm3,prfPrdNGLNetMillSm3,prfPrdCondensateNetMillSm3,prfPrdOeNetMillSm3,prfPrdProducedWaterInFieldMillSm3,prfNpdidInformationCarrier
0,16/1-12 Troldhaugen,2021,9,0.0,0.00173,0.0,0.00000,0.00173,0.00719,17196400
1,16/1-12 Troldhaugen,2021,10,0.0,0.00250,0.0,0.00000,0.00250,0.00912,17196400
2,16/1-12 Troldhaugen,2021,11,0.0,0.00199,0.0,0.00000,0.00199,0.01186,17196400
3,16/1-12 Troldhaugen,2021,12,0.0,0.00104,0.0,0.00000,0.00104,0.00418,17196400
4,16/1-12 Troldhaugen,2022,1,0.0,0.00062,0.0,0.00000,0.00062,0.00926,17196400
...,...,...,...,...,...,...,...,...,...,...
25422,AASTA HANSTEEN,2023,10,0.0,0.73437,0.0,0.01728,0.75165,0.00196,23395946
25423,AASTA HANSTEEN,2023,11,0.0,0.69432,0.0,0.01636,0.71068,0.00210,23395946
25424,AASTA HANSTEEN,2023,12,0.0,0.77522,0.0,0.01681,0.79203,0.00203,23395946
25425,AASTA HANSTEEN,2024,1,0.0,0.72317,0.0,0.01580,0.73897,0.00194,23395946
25426,AASTA HANSTEEN,2024,2,0.0,0.63856,0.0,0.01421,0.65278,0.00198,23395946

In [ ]:
production_monthly_df

### Operators

In [12]:
operators_url = 'https://hotell.difi.no/download/npd/field/operators'
operators_df = fetch_csv(operators_url)

,fldName,cmpLongName,fldOperatorFrom,fldOperatorTo,fldNpdidField,cmpNpdidCompany,fldOperatorDateUpdated,datesyncNPD
0,ALBUSKJELL,Phillips Petroleum Company Norway,25.04.1975,22.10.2002,43437,694,02.01.2024,20.05.2024
1,ALBUSKJELL,ConocoPhillips Norge,23.10.2002,31.03.2003,43437,2144081,02.01.2024,20.05.2024
2,ALBUSKJELL,Phillips Petroleum Norsk AS,01.04.2003,05.05.2003,43437,705,02.01.2024,20.05.2024
3,ALBUSKJELL,ConocoPhillips Skandinavia AS,06.05.2003,NaN,43437,2410696,02.01.2024,20.05.2024
4,ALVE,Statoil ASA (old),16.03.2007,30.09.2007,4444332,1622484,02.01.2024,20.05.2024
...,...,...,...,...,...,...,...,...
553,Ã…SGARD,StatoilHydro Petroleum AS,01.01.2009,31.10.2009,43765,4511658,02.01.2024,20.05.2024
554,Ã…SGARD,Statoil Petroleum AS,01.11.2009,15.05.2018,43765,17237817,02.01.2024,20.05.2024
555,Ã…SGARD,Equinor Energy AS,16.05.2018,NaN,43765,32011216,02.01.2024,20.05.2024
556,AASTA HANSTEEN,Statoil Petroleum AS,07.06.2013,15.05.2018,23395946,17237817,02.01.2024,20.05.2024
557,AASTA HANSTEEN,Equinor Energy AS,16.05.2018,NaN,23395946,32011216,02.01.2024,20.05.2024

In [ ]:

display(operators_df)

### Licenses

In [13]:
licensees_url = 'https://hotell.difi.no/download/npd/field/licensees'
licensees_df = fetch_csv(licensees_url)

,fldName,fldOwnerName,fldOwnerKind,fldOwnerFrom,fldOwnerTo,fldLicenseeFrom,fldLicenseeTo,cmpLongName,fldCompanyShare,fldSdfiShare,fldNpdidField,cmpNpdidCompany,fldLicenseeDateUpdated,DatesyncNPD
0,ALBUSKJELL,018,PRODUCTION LICENSE,25.04.1975,NaN,30.09.2022,NaN,TotalEnergies EP Norge AS,39.896,NaN,43437,35000016,02.01.2024,20.05.2024
1,ALBUSKJELL,018,PRODUCTION LICENSE,25.04.1975,NaN,30.09.2022,NaN,ConocoPhillips Skandinavia AS,35.112,NaN,43437,2410696,02.01.2024,20.05.2024
2,ALBUSKJELL,018,PRODUCTION LICENSE,25.04.1975,NaN,30.09.2022,NaN,VÃ¥r Energi ASA,12.388,NaN,43437,50000032,02.01.2024,20.05.2024
3,ALBUSKJELL,018,PRODUCTION LICENSE,25.04.1975,NaN,30.09.2022,NaN,Sval Energi AS,7.604,0.0,43437,36536246,02.01.2024,20.05.2024
4,ALBUSKJELL,018,PRODUCTION LICENSE,25.04.1975,NaN,30.09.2022,NaN,Petoro AS,5.000,NaN,43437,1626839,02.01.2024,20.05.2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9429,AASTA HANSTEEN,218,PRODUCTION LICENSE,07.06.2013,NaN,01.12.2014,15.05.2018,OMV (Norge) AS,15.000,NaN,23395946,4460594,02.01.2024,20.05.2024
9430,AASTA HANSTEEN,218,PRODUCTION LICENSE,07.06.2013,NaN,01.12.2014,15.05.2018,ConocoPhillips Skandinavia AS,10.000,NaN,23395946,2410696,02.01.2024,20.05.2024
9431,AASTA HANSTEEN,218,PRODUCTION LICENSE,07.06.2013,NaN,07.06.2013,30.11.2014,Statoil Petroleum AS,75.000,NaN,23395946,17237817,02.01.2024,20.05.2024
9432,AASTA HANSTEEN,218,PRODUCTION LICENSE,07.06.2013,NaN,07.06.2013,30.11.2014,OMV (Norge) AS,15.000,NaN,23395946,4460594,02.01.2024,20.05.2024
9433,AASTA HANSTEEN,218,PRODUCTION LICENSE,07.06.2013,NaN,07.06.2013,30.11.2014,ConocoPhillips Skandinavia AS,10.000,NaN,23395946,2410696,02.01.2024,20.05.2024

In [23]:
display(licensees_df)

,fldName,fldOwnerName,fldOwnerKind,fldOwnerFrom,fldOwnerTo,fldLicenseeFrom,fldLicenseeTo,cmpLongName,fldCompanyShare,fldSdfiShare,fldNpdidField,cmpNpdidCompany,fldLicenseeDateUpdated,DatesyncNPD
0,ALBUSKJELL,018,PRODUCTION LICENSE,25.04.1975,NaN,30.09.2022,NaN,TotalEnergies EP Norge AS,39.896,NaN,43437,35000016,02.01.2024,20.05.2024
1,ALBUSKJELL,018,PRODUCTION LICENSE,25.04.1975,NaN,30.09.2022,NaN,ConocoPhillips Skandinavia AS,35.112,NaN,43437,2410696,02.01.2024,20.05.2024
2,ALBUSKJELL,018,PRODUCTION LICENSE,25.04.1975,NaN,30.09.2022,NaN,VÃ¥r Energi ASA,12.388,NaN,43437,50000032,02.01.2024,20.05.2024
3,ALBUSKJELL,018,PRODUCTION LICENSE,25.04.1975,NaN,30.09.2022,NaN,Sval Energi AS,7.604,0.0,43437,36536246,02.01.2024,20.05.2024
4,ALBUSKJELL,018,PRODUCTION LICENSE,25.04.1975,NaN,30.09.2022,NaN,Petoro AS,5.000,NaN,43437,1626839,02.01.2024,20.05.2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9429,AASTA HANSTEEN,218,PRODUCTION LICENSE,07.06.2013,NaN,01.12.2014,15.05.2018,OMV (Norge) AS,15.000,NaN,23395946,4460594,02.01.2024,20.05.2024
9430,AASTA HANSTEEN,218,PRODUCTION LICENSE,07.06.2013,NaN,01.12.2014,15.05.2018,ConocoPhillips Skandinavia AS,10.000,NaN,23395946,2410696,02.01.2024,20.05.2024
9431,AASTA HANSTEEN,218,PRODUCTION LICENSE,07.06.2013,NaN,07.06.2013,30.11.2014,Statoil Petroleum AS,75.000,NaN,23395946,17237817,02.01.2024,20.05.2024
9432,AASTA HANSTEEN,218,PRODUCTION LICENSE,07.06.2013,NaN,07.06.2013,30.11.2014,OMV (Norge) AS,15.000,NaN,23395946,4460594,02.01.2024,20.05.2024
9433,AASTA HANSTEEN,218,PRODUCTION LICENSE,07.06.2013,NaN,07.06.2013,30.11.2014,ConocoPhillips Skandinavia AS,10.000,NaN,23395946,2410696,02.01.2024,20.05.2024

### Investments

In [14]:
investments_url = 'https://hotell.difi.no/download/npd/investments/yearly-by-field'
investments_df = fetch_csv(investments_url)

,prfInformationCarrier,prfYear,prfInvestmentsMillNOK,prfNpdidInformationCarrier,dateSyncNPD
0,ALBUSKJELL,1974,116,43437,20.05.2024
1,ALBUSKJELL,1975,319,43437,20.05.2024
2,ALBUSKJELL,1976,879,43437,20.05.2024
3,ALBUSKJELL,1977,398,43437,20.05.2024
4,ALBUSKJELL,1978,235,43437,20.05.2024
...,...,...,...,...,...
3152,AASTA HANSTEEN,2021,119,23395946,20.05.2024
3153,AASTA HANSTEEN,2022,298,23395946,20.05.2024
3154,AASTA HANSTEEN,2023,0,23395946,20.05.2024
3155,AASTA HANSTEEN,2024,0,23395946,20.05.2024
3156,AASTA HANSTEEN,2025,0,23395946,20.05.2024

In [24]:
display(investments_df)

,prfInformationCarrier,prfYear,prfInvestmentsMillNOK,prfNpdidInformationCarrier,dateSyncNPD
0,ALBUSKJELL,1974,116,43437,20.05.2024
1,ALBUSKJELL,1975,319,43437,20.05.2024
2,ALBUSKJELL,1976,879,43437,20.05.2024
3,ALBUSKJELL,1977,398,43437,20.05.2024
4,ALBUSKJELL,1978,235,43437,20.05.2024
...,...,...,...,...,...
3152,AASTA HANSTEEN,2021,119,23395946,20.05.2024
3153,AASTA HANSTEEN,2022,298,23395946,20.05.2024
3154,AASTA HANSTEEN,2023,0,23395946,20.05.2024
3155,AASTA HANSTEEN,2024,0,23395946,20.05.2024
3156,AASTA HANSTEEN,2025,0,23395946,20.05.2024

### Future investments

In [19]:
future_investments_url = 'https://factpages.sodir.no/public?/Factpages/external/tableview/field_investment_expected&rs:Command=Render&rc:Toolbar=false&rc:Parameters=f&IpAddress=not_used&CultureCode=en&rs:Format=CSV&Top100=false'
future_investments_df = fetch_csv(future_investments_url, sep=',')

            fldName  fldInvestmentExpected  fldInvExpFixYear  fldNpdidField
0              ALVE                   1167              2023        4444332
1         ALVE NORD                   6602              2023       42002483
2           ALVHEIM                  14290              2023        2845712
3            BALDER                  31306              2023          43562
4             BAUGE                     74              2023       29446221
..              ...                    ...               ...            ...
101             YME                    972              2023          43807
102     Ã†RFUGL NORD                     29              2023       38542241
103             Ã˜RN                   6848              2023       42002484
104          Ã…SGARD                  14137              2023          43765
105  AASTA HANSTEEN                    836              2023       23395946

[106 rows x 4 columns]

In [ ]:
display(future_investments_df)

### Facilities (rigs)

#### 1. Fixed facilities (rigs)

In [20]:
fixed_facilities_url = 'https://hotell.difi.no/download/npd/facility/fixed'
fixed_facilities_df = fetch_csv(fixed_facilities_url)

,fclName,fclPhase,fclSurface,fclCurrentOperatorName,fclKind,fclBelongsToName,fclBelongsToKind,fclBelongsToS,fclStartupDate,fclGeodeticDatum,...,fclEwCode,fclWaterDepth,fclFunctions,fclDesignLifetime,fclNationName,fclFactPageUrl,fclFactMapUrl,fclNpdidFacility,fclDateUpdated,datesyncNPD
0,1/2-1 IM Blane,IN SERVICE,N,Repsol Norge AS,SINGLE WELL TEMPLATE,BLANE,FIELD,3437650.0,12.09.2007,ED50,...,E,74,WATER INJECTION,15.0,United Kingdom,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,373104,02.01.2024,20.05.2024
1,1/2-1 PE Blane,IN SERVICE,N,Repsol Norge AS,SINGLE WELL TEMPLATE,BLANE,FIELD,3437650.0,12.09.2007,ED50,...,E,74,OIL PRODUCER,15.0,United Kingdom,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,373068,02.01.2024,20.05.2024
2,1/2-1 PW Blane,IN SERVICE,N,Repsol Norge AS,SINGLE WELL TEMPLATE,BLANE,FIELD,3437650.0,12.09.2007,ED50,...,E,74,OIL PRODUCER,15.0,United Kingdom,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,373030,02.01.2024,20.05.2024
3,10/1-CDP1,PARTLY REMOVED,Y,NaN,CONCRETE STRUCTURE,NaN,INGEN REGISTERING,NaN,01.09.1979,ED50,...,E,100,DRILLING,NaN,United Kingdom,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,271861,02.01.2024,20.05.2024
4,15/12-C Rev,SHUT DOWN,N,Repsol Norge AS,SINGLE WELL TEMPLATE,REV,FIELD,4467554.0,26.01.2009,ED50,...,E,113,GAS PRODUCER,10.0,Norway,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,378147,02.01.2024,20.05.2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,AASTA HANSTEEN D,IN SERVICE,N,Equinor Energy AS,MULTI WELL TEMPLATE,AASTA HANSTEEN,FIELD,23395946.0,17.12.2018,ED50,...,E,1278,GAS PRODUCER,25.0,Norway,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,441965,02.01.2024,20.05.2024
866,AASTA HANSTEEN E,IN SERVICE,N,Equinor Energy AS,SINGLE WELL TEMPLATE,AASTA HANSTEEN,FIELD,23395946.0,01.11.2018,ED50,...,E,1311,GAS PRODUCER,25.0,Norway,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,455081,02.01.2024,20.05.2024
867,AASTA HANSTEEN PLEM,IN SERVICE,N,Gassco AS,SUBSEA STRUCTURE,POLARLED,TUF,17343422.0,17.12.2018,ED50,...,E,1300,PIPELINE END MANIFOLD,25.0,Norway,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,459032,02.01.2024,20.05.2024
868,AASTA HANSTEEN SPAR,IN SERVICE,Y,Equinor Energy AS,SPAR,AASTA HANSTEEN,FIELD,23395946.0,17.12.2018,ED50,...,E,1315,ACCOMMODATION - OFFLOADING - PROCESSING - STORAGE,30.0,Norway,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,444187,02.01.2024,20.05.2024
869,AASTA HANSTEEN UMBILICAL RISER BASE,IN SERVICE,N,Equinor Energy AS,SUBSEA STRUCTURE,AASTA HANSTEEN,FIELD,23395946.0,17.12.2018,ED50,...,E,1300,RISER BASE,25.0,Norway,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,459089,02.01.2024,20.05.2024

In [25]:
display(fixed_facilities_df)
display(fixed_facilities_df.fclKind.value_counts())

,fclName,fclPhase,fclSurface,fclCurrentOperatorName,fclKind,fclBelongsToName,fclBelongsToKind,fclBelongsToS,fclStartupDate,fclGeodeticDatum,...,fclEwCode,fclWaterDepth,fclFunctions,fclDesignLifetime,fclNationName,fclFactPageUrl,fclFactMapUrl,fclNpdidFacility,fclDateUpdated,datesyncNPD
0,1/2-1 IM Blane,IN SERVICE,N,Repsol Norge AS,SINGLE WELL TEMPLATE,BLANE,FIELD,3437650.0,12.09.2007,ED50,...,E,74,WATER INJECTION,15.0,United Kingdom,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,373104,02.01.2024,20.05.2024
1,1/2-1 PE Blane,IN SERVICE,N,Repsol Norge AS,SINGLE WELL TEMPLATE,BLANE,FIELD,3437650.0,12.09.2007,ED50,...,E,74,OIL PRODUCER,15.0,United Kingdom,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,373068,02.01.2024,20.05.2024
2,1/2-1 PW Blane,IN SERVICE,N,Repsol Norge AS,SINGLE WELL TEMPLATE,BLANE,FIELD,3437650.0,12.09.2007,ED50,...,E,74,OIL PRODUCER,15.0,United Kingdom,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,373030,02.01.2024,20.05.2024
3,10/1-CDP1,PARTLY REMOVED,Y,NaN,CONCRETE STRUCTURE,NaN,INGEN REGISTERING,NaN,01.09.1979,ED50,...,E,100,DRILLING,NaN,United Kingdom,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,271861,02.01.2024,20.05.2024
4,15/12-C Rev,SHUT DOWN,N,Repsol Norge AS,SINGLE WELL TEMPLATE,REV,FIELD,4467554.0,26.01.2009,ED50,...,E,113,GAS PRODUCER,10.0,Norway,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,378147,02.01.2024,20.05.2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,AASTA HANSTEEN D,IN SERVICE,N,Equinor Energy AS,MULTI WELL TEMPLATE,AASTA HANSTEEN,FIELD,23395946.0,17.12.2018,ED50,...,E,1278,GAS PRODUCER,25.0,Norway,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,441965,02.01.2024,20.05.2024
866,AASTA HANSTEEN E,IN SERVICE,N,Equinor Energy AS,SINGLE WELL TEMPLATE,AASTA HANSTEEN,FIELD,23395946.0,01.11.2018,ED50,...,E,1311,GAS PRODUCER,25.0,Norway,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,455081,02.01.2024,20.05.2024
867,AASTA HANSTEEN PLEM,IN SERVICE,N,Gassco AS,SUBSEA STRUCTURE,POLARLED,TUF,17343422.0,17.12.2018,ED50,...,E,1300,PIPELINE END MANIFOLD,25.0,Norway,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,459032,02.01.2024,20.05.2024
868,AASTA HANSTEEN SPAR,IN SERVICE,Y,Equinor Energy AS,SPAR,AASTA HANSTEEN,FIELD,23395946.0,17.12.2018,ED50,...,E,1315,ACCOMMODATION - OFFLOADING - PROCESSING - STORAGE,30.0,Norway,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,444187,02.01.2024,20.05.2024
869,AASTA HANSTEEN UMBILICAL RISER BASE,IN SERVICE,N,Equinor Energy AS,SUBSEA STRUCTURE,AASTA HANSTEEN,FIELD,23395946.0,17.12.2018,ED50,...,E,1300,RISER BASE,25.0,Norway,https://factpages.sodir.no/factpages/default.a...,https://factmaps.sodir.no/factmaps/3_0/?run=Fa...,459089,02.01.2024,20.05.2024

MULTI WELL TEMPLATE      274
SINGLE WELL TEMPLATE     223
SUBSEA STRUCTURE         133
JACKET 4 LEGS             50
ONSHORE FACILITY          44
JACKET 8 LEGS             31
JACKET TRIPOD             21
LOADING SYSTEM            18
FPSO                      12
OFFSHORE WIND TURBINE     11
JACKET 12 LEGS             8
SEMISUB STEEL              8
CONDEEP 4 SHAFTS           8
FSU                        7
LANDFALL                   5
JACKET 6 LEGS              3
MONOTOWER                  2
CONCRETE STRUCTURE         2
CONDEEP 3 SHAFTS           2
SEMISUB CONCRETE           1
MOPUStor                   1
TLP STEEL                  1
DORIS                      1
JACK-UP 3 LEGS             1
TLP CONCRETE               1
CONDEEP MONOSHAFT          1
SPAR                       1
Name: fclKind, dtype: int64

#### 2. Movable facilities (rigs)

In [21]:
movable_facilities_url = 'https://hotell.difi.no/download/npd/facility/movable'
movable_facilities_df = fetch_csv(movable_facilities_url)

,fclName,fclCurrentRespCompanyName,fclKind,fclFunctions,fclStatus,fclNationName,fclFactPageUrl,fclNpdidFacility,fclNpdidCurrentRespCompany,fclDateUpdated,datesyncNPD
0,ABEILLE SUPPORT,Stolt Offshore A/S,VESSEL,NaN,NaN,France,https://factpages.sodir.no/factpages/default.a...,294544,2411309.0,29.02.2024,20.05.2024
1,ACERGY FALCON,Acergy M.S. Limited,VESSEL,NaN,NaN,Norway,https://factpages.sodir.no/factpages/default.a...,402507,4394060.0,29.02.2024,20.05.2024
2,ACERGY OSPREY,Acergy M.S. Limited,VESSEL,NaN,NaN,United Kingdom,https://factpages.sodir.no/factpages/default.a...,377007,4394060.0,29.02.2024,20.05.2024
3,ACERGY VIKING,Eidesvik Shipping AS,VESSEL,NaN,NaN,Norway,https://factpages.sodir.no/factpages/default.a...,440555,3362279.0,29.02.2024,20.05.2024
4,AKOFS SEAFARER,Akofs Offshore Operations AS,VESSEL,NaN,AOC OK,Norway,https://factpages.sodir.no/factpages/default.a...,706601,50000019.0,29.02.2024,20.05.2024
...,...,...,...,...,...,...,...,...,...,...,...
290,WEST VENTURE OLD,Smedvig Offshore AS,SEMISUB STEEL,NaN,NaN,Luxembourg,https://factpages.sodir.no/factpages/default.a...,362494,2359213.0,29.02.2024,20.05.2024
291,WEST VISION,Seadrill Offshore AS,SEMISUB STEEL,OIL PRODUCER,NaN,Norway,https://factpages.sodir.no/factpages/default.a...,289495,4070351.0,29.02.2024,20.05.2024
292,WILLNOVATOR,COSL Drilling Europe AS,VESSEL,NaN,NaN,Norway,https://factpages.sodir.no/factpages/default.a...,404524,5125369.0,29.02.2024,20.05.2024
293,ZAPATA EXPLORER,Arethusa (Off-Shore) Ltd.,JACK-UP 3 LEGS,NaN,NaN,Norway,https://factpages.sodir.no/factpages/default.a...,288901,2783026.0,29.02.2024,20.05.2024
294,ZAPATA NORDIC,Arethusa (Off-Shore) Ltd.,JACK-UP 3 LEGS,NaN,NaN,Norway,https://factpages.sodir.no/factpages/default.a...,288928,2783026.0,29.02.2024,20.05.2024

In [ ]:
display(movable_facilities_df)

## 1.1. Checking the Emissions_CO2 dataset

In [41]:
Emissions_CO2

,Karbondioksid (CO2),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Anleggsnavn,Fylke,Kommune,Ã…r,Ã…rlig utslipp til luft,Grunnlagsverdi for luft,Ã…rlig utslipp til vann,Grunnlagsverdi for vann,Ã…rlig utslipp til undergrunn,Enhet,Org.nr.
2,Grane (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2022,180.655154,NaN,NaN,NaN,NaN,1000 tonn,993246298
3,Grane (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2023,188.26798,NaN,NaN,NaN,NaN,1000 tonn,993246298
4,Norne (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,1997,761.336994,NaN,NaN,NaN,NaN,1000 tonn,893246592
...,...,...,...,...,...,...,...,...,...,...,...
1314,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2018,72.503572,NaN,NaN,NaN,NaN,1000 tonn,912731456
1315,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2019,177.647453,NaN,NaN,NaN,NaN,1000 tonn,912731456
1316,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2020,192.207951,NaN,NaN,NaN,NaN,1000 tonn,912731456
1317,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2021,191.436769,NaN,NaN,NaN,NaN,1000 tonn,912731456
1318,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2022,192.895469,NaN,NaN,NaN,NaN,1000 tonn,912731456

In [42]:
# Make first row the header
Emissions_CO2.columns = Emissions_CO2.iloc[1]

# Drop the first row
Emissions_CO2 = Emissions_CO2.drop([0,1])
Emissions_CO2

1,Anleggsnavn,Fylke,Kommune,Ã…r,Ã…rlig utslipp til luft,Grunnlagsverdi for luft,Ã…rlig utslipp til vann,Grunnlagsverdi for vann,Ã…rlig utslipp til undergrunn,Enhet,Org.nr.
2,Grane (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2022,180.655154,NaN,NaN,NaN,NaN,1000 tonn,993246298
3,Grane (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2023,188.26798,NaN,NaN,NaN,NaN,1000 tonn,993246298
4,Norne (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,1997,761.336994,NaN,NaN,NaN,NaN,1000 tonn,893246592
5,Norne (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,1998,418.303952,NaN,NaN,NaN,NaN,1000 tonn,893246592
6,Norne (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,1999,347.05988,NaN,NaN,NaN,NaN,1000 tonn,893246592
...,...,...,...,...,...,...,...,...,...,...,...
1314,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2018,72.503572,NaN,NaN,NaN,NaN,1000 tonn,912731456
1315,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2019,177.647453,NaN,NaN,NaN,NaN,1000 tonn,912731456
1316,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2020,192.207951,NaN,NaN,NaN,NaN,1000 tonn,912731456
1317,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2021,191.436769,NaN,NaN,NaN,NaN,1000 tonn,912731456
1318,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2022,192.895469,NaN,NaN,NaN,NaN,1000 tonn,912731456

In [43]:
# Drop all columns with all NaN values
Emissions_CO2 = Emissions_CO2.dropna(axis=1, how='all')

Emissions_CO2

1,Anleggsnavn,Fylke,Kommune,Ã…r,Ã…rlig utslipp til luft,Enhet,Org.nr.
2,Grane (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2022,180.655154,1000 tonn,993246298
3,Grane (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2023,188.26798,1000 tonn,993246298
4,Norne (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,1997,761.336994,1000 tonn,893246592
5,Norne (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,1998,418.303952,1000 tonn,893246592
6,Norne (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,1999,347.05988,1000 tonn,893246592
...,...,...,...,...,...,...,...
1314,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2018,72.503572,1000 tonn,912731456
1315,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2019,177.647453,1000 tonn,912731456
1316,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2020,192.207951,1000 tonn,912731456
1317,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2021,191.436769,1000 tonn,912731456
1318,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2022,192.895469,1000 tonn,912731456

In [46]:
# Checking all uniqe Anleggsnavn

Emissions_CO2['Anleggsnavn'].unique()

array(['Grane (Equinor energy as)', 'Norne (Equinor energy as)',
       'Statfjord (Equinor energy as)', 'Snorre (Equinor energy as)',
       'Oseberg (Equinor energy as)', 'Veslefrikk (Equinor energy as)',
       'Volve (Equinor energy as)', 'Skarv (Aker bp asa)',
       'Vale (Sval energi as)', 'Vigdis (Equinor energy as)',
       'Hod (Aker bp asa)', 'Statfjord nord (Equinor energy as)',
       'Statfjord Ã¸st (Equinor energy as)', 'Sygna (Equinor energy as)',
       'Oseberg sÃ¸r (Equinor energy as)',
       'Oseberg Ã¸st (Equinor energy as)', 'Jotun (VÃ¥r energi asa)',
       'Heimdal (Equinor energy as)',
       'Skirne (Totalenergies ep norge as)', 'Vilje (Aker bp asa)',
       'Alve (Equinor energy as)', 'Rev (Repsol norge as)',
       'Vega (Wintershall dea norge as)', 'Oselvar (Dno norge as)',
       'Goliat (VÃ¥r energi asa)', 'Yme (Repsol norge as)',
       'Morvin (Equinor energy as)', 'Draupner (Gassco as)',
       'Troll (Equinor energy as)', 'Gullfaks (Equinor energy as)',
       'Fram (Equinor asa)', 'Brage (Okea asa)', 'Trym (Dno norge as)',
       'Gaupe (A/s norske shell)', 'Knarr (A/s norske shell)',
       'Marulk (VÃ¥r energi asa)', 'Gudrun (Equinor energy as)',
       'Valhall (Aker bp asa)', 'Sleipner vest (Equinor energy as)',
       'Gyda (Repsol norge as)', 'Tune (Equinor energy as)',
       'Mikkel (Equinor energy as)', 'Yttergryta (Equinor energy as)',
       'Tyrihans (Equinor energy as)', 'Volund (Aker bp asa)',
       'Urd (Equinor energy as)', 'Tambar (Aker bp asa)',
       'Huldra (Equinor energy as)', 'Gullfaks sÃ¸r (Equinor energy as)',
       'Tordis (Equinor energy as)',
       'Eldfisk (Conocophillips skandinavia as)',
       'Balder (VÃ¥r energi asa)', 'Glitne (Equinor energy as)',
       'Ã…sgard (Equinor energy as)', 'Njord (Equinor energy as)',
       'Heidrun (Equinor energy as)', 'Ula (Aker bp asa)',
       'Aasta hansteen (Equinor energy as)',
       'Fenja (VÃ¥r energi norge as)', 'Solveig (Aker bp asa)',
       'Dvalin (Wintershall dea norge as)',
       'Johan castberg (Equinor energy as)',
       'Kristin (Equinor energy as)', 'Alvheim (Aker bp asa)',
       'Varg (Repsol norge as)',
       'Ekofisk (Conocophillips skandinavia as)',
       'Embla (Conocophillips skandinavia as)',
       'Tor (Conocophillips skandinavia as)',
       'Sleipner Ã¸st (Equinor energy as)', 'Sigyn (Equinor energy as)',
       'SnÃ¸hvit (Equinor energy as)', 'Brynhild (Aker bp asa)',
       'Jette (Aker bp asa)', 'Valemon (Equinor energy as)',
       'Atla (Totalenergies ep norge as)', 'Skuld (Equinor energy as)',
       'Svalin (Equinor energy as)', 'Ormen lange (A/s norske shell)',
       'Martin linge (Equinor energy as)', 'Edvard grieg (Aker bp asa)',
       'Gina krog (Equinor energy as)', 'Draugen (Okea asa)',
       'Visund (Equinor energy as)', 'KvitebjÃ¸rn (Equinor energy as)',
       'GjÃ¸a (VÃ¥r energi norge as)', 'Ivar aasen (Aker bp asa)',
       'BÃ¸yla (Aker bp asa)', 'Johan sverdrup (Equinor energy as)',
       'Maria (Wintershall dea norge as)'], dtype=object)